<link rel="stylesheet" href="/styles/navbar.css" />
<nav>
  <div>
    <div class="landing-title">Blogshpere</div>
    <div class="user-nav">
      <% if(!userid) {%>
      <div class="nav-group">
        <a href="/users/login">Login</a>
      </div>

      <% } else {%>

      <div class="nav-group">
        <a href="/users/profile/<%= userid %>" title="profile">
          <img src="/svg/user-alt.svg" alt="profile"
        /></a>
      </div>
      <div class="nav-group">
        <a href="Writeblog" title="write a blog">Write a blog</a>
      </div>
      <div class="nav-group">
        <a href="/users/logout" title="logout">Logout</a>
      </div>

      <%}%>
    </div>
  </div>
</nav>
