<%-include('layouts/root')-%> <%- include('layouts/toasttemplate', {toast:toast}
) -%>

<link rel="stylesheet" href="/styles/home.css" />
<div>
  <%- include('layouts/navbar',{userid:userid}) -%>

  <div class="container">
    <h2>Recent Blogs</h2>
    <div class="cardContainer">
      <% blogs.forEach(function(blog) { %> <%- include('BlogCard',{blog:blog})
      -%> <% }) %>
    </div>
  </div>
</div>
