<%- include('layouts/toasttemplate', {toast: toast } ) -%>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write your blog</title>
    <link rel="stylesheet" href="/styles/writeblog.css" />
  </head>

  <body>
    <div class="overlay hide">Processing...</div>
    <div class="container">
      <h2>Write a New Blog</h2>
      <div class="card-container">
        <div class="form-container">
          <form id="writeblog" action="/blogs/postblog" method="post" enctype="multipart/form-data"
            onsubmit="showOverlay()">
            <input id="inputfile" type="file" name="blogImage" accept=".jpg,.jpeg,.png" required />
            <input id="inputheader" type="text" name="blogTitle" required placeholder="Blog Title" minlength="5"
              maxlength="100" />
            <textarea id="inputcontent" name="blogContent" required
              placeholder="Write your blog content here..."></textarea>
            <button>Publish Blog</button>
          </form>
        </div>
        <div class="preview-container">

          <img id="previewimage" name="blogImage" src="" alt="Add image" />
          <h2 id="previewheader" name="blogTitle">Title</h2>

          <div>author: <span><strong>
                <%=username%>
              </strong></span></div>

          <pre id="previewcontent" name="blogContent">Start Typing</pre>
        </div>
      </div>
    </div>
  </body>
  <script>
    function showOverlay() {
      document.querySelector('.hide').classList.toggle('hide')
    }
    let inputheader = document.querySelector('#inputheader')
    let textareaEle = document.querySelector('textarea')
    let previewImg = document.querySelector('#previewimage')
    let previewHeader = document.querySelector('#previewheader')
    let previewContent = document.querySelector('#previewcontent')

    let timer = null;
    function throttle() {
      if (timer) return;
      timer = setTimeout(() => {
        previewForm()

        timer = null;
      }, 2000)
    }

    inputheader.addEventListener('input', (e) => {

      throttle()

    })

    textareaEle.addEventListener('input', (e) => {
      throttle()
    })


    function previewForm(e) {
      console.log('previewing')

      previewHeader.innerHTML = document.querySelector('#inputheader').value
      previewContent.innerHTML = textareaEle.value



    }

    const fileInput = document.querySelector('#inputfile');
    // const preview = document.getElementById('preview');
    fileInput.addEventListener('change', function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          previewImg.src = e.target.result;
        }
        reader.readAsDataURL(file);
      }
    });

  </script>