.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

body {
  margin: 0;
  padding: 0;
  background: url("/svg/page-turner.svg");
  background-size: cover;
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  padding: 10px;
}
.container > h2 {
  color: white;
}
.blog {
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0;
}
.blog:last-child {
  border-bottom: none;
}
.title {
  font-size: 1.5em;
  color: #333;
}
.content {
  margin: 10px 0;
  line-height: 1.6;
}

@media screen and (width<=500px) {
  .container {
    width: 100%;
    box-sizing: border-box;
    font-size: small;
  }
}
